body {
  background: peachpuff;
  margin:0;
  color:white;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:100vh;
}

.a{
  background-color: red;
  width:100%;
  height:30%;
  flex-grow:3;
}

.h{
  background-color: navy;
  flex-grow: 1;
  height:90%;
}

.main{
  display:flex;
  flex-wrap:wrap;
  /*justify-content: center;*/
  flex-grow:2;
}

.b{
  background-color: green;
}

.c{
  background-color: violet;
}

.d{
  background-color: orangered;
}

.e{
  background-color:goldenrod;
}

.f{
  background-color:teal;
}

.g{
  background-color:darkolivegreen;
}

.b,.c, .d, .e, .f, .g{
  margin:.5em;
  width:25%;
  height:30vh;
}

@media(min-width:600px){
  .container{
    flex-direction: row;
  }

  /*.main{
    min-height:50vh;
    min-width:50vw;
  }*/

  .b,.c, .d, .e, .f, .g{
    flex-wrap: wrap;
  }

  .h{
    height: 80vh;
  }


}